.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  width: 70%;
  max-width: 600px;
  height: auto;
}

.close-button {
  background: #180d65;
  color: #f3eeee;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.booking-success {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.booking-icon {
  position: relative;
  display: inline-block;
}

.checkmark {
  position: absolute;
  top: -10px;
  right: -10px;
  background: rgb(255, 254, 255);
  border-radius: 50%;
  padding: 5px;
}

/* Uncomment and adjust colors if necessary */
/* h2 {
  color: #f0eaea;
  font-size: 24px;
  margin-top: 10px;
}

p {
  color: #f7eeee;
  font-size: 16px;
  margin: 10px 0;
} */
